{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Client list</h1>
            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Hardware</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Modified</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                        <td>{{ client.name }}</td>
                        <td>
                            <ul>
                            {% for h in client.clientHardware %}
                                <li>
                                    <a href="{{ path('hardware_show', { 'id': h.uuid }) }}">{{ h }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{% if client.modified %}{{ client.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <a href="{{ path('client_show', { 'id': client.id }) }}">
                                <button class="btn btn-xs btn-primary">Show</button>
                            </a>
                            <a href="{{ path('client_edit', { 'id': client.id }) }}">
                                <button class="btn btn-xs btn-primary">Edit</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <a href="{{ path('client_new') }}">
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add client</button>
            </a>
        </div>
    </div>


{% endblock %}
